DATABASE_URL=postgresql://postgres:postgres@localhost:5432/wanderlust
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NODE_ENV="development"
VITE_MAPTILER_KEY=
VITE_ENABLE_IPX=true
VITE_API_URL=http://localhost:5000
