<html lang="en">
  <head>
    <style>
      .brand { color: #18815e; }
    </style>
    <title>Wanderlust</title>
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <p>You requested to reset your password.</p>
    <p>Click to <a href="{{url}}">this link</a> to reset your password</p>
    <p>Or copy and paste the following link into your browser:</p>
    <p>{{url}}</p>
    <p>If you did not make this request, please contact our help team.</p>
    <p>If you think you accidentally got this email, please discard it.</p>
    <p>Thanks!</p>
    <p>The <strong class="brand">Wanderlust</strong> Team</p>
  </body>
</html>